<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialNav.ejs %>
	<aside>

	</aside>
	<main>
		<div class="well">
			<p>Stockmarket is a free web app whose goal is to help you to get economical data in just one place. It is a project in my way to learn several technologies:</p>
				<ul>
					<li> Nodejs </li>
					<li> Express </li>
					<li> Ajax </li>
					<li> Google charts </li>
					<li> Bootstrap </li>
				</ul>
			<p>Although this is an open-source project, every third-party code used (plugins, framework, etc) has its own license. Please take it on account.</p>

			<p>If you are interested on my works, wants to improve it or have any complaint feel free to contact me by <a href="mailto:antonio.leon.alcaide@gmail.com"> email </a></p>
		</div>
	</main>

	<%- include templates/partialFooter.ejs %>
	
</body>
</html>


