<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialHeader.ejs %>
	<%- include templates/partialNav.ejs %>

	<main>
		<h1> PAGE NOT AVAILABLE <h1>
	</main>

	<%- include templates/partialFooter.ejs %>
	
</body>
</html>
