<%- include templates/partialHead.ejs %>
<body>
	
	<%- include templates/partialHeader.ejs %>
	<main>


		<form method="POST" action="/index" id="loginForm">
			<div>
				<label for="mail">Email</label>
				<input type="mail" name="email" placeholder="email@example.com"/>
			</div>

			<div>
				<label for="password">Password</label>
				<input type="password" name="password"/>
			</div>

			<input type="submit" name="login" value="Login"/>
			<a href="/register">Register</a>
		</form>


	</main>
	
	
</body>
</html>


