<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialHeader.ejs %>
	<%- include templates/partialNav.ejs %>

	<main>
		MAIN DE INDEX
	</main>

	<%- include templates/partialFooter.ejs %>
	
</body>
</html>


