<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialNav.ejs %>
	
	<main class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		MAIN DE MY FAVOURITES
	</main>

	<%- include templates/partialAside.ejs %>
	<%- include templates/partialFooter.ejs %>
	
</body>
</html>


