<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialNav.ejs %>
	<%- include templates/partialAside.ejs %>

	<main>
		MAIN DE MY FAVOURITES
	</main>

	<%- include templates/partialFooter.ejs %>
	
</body>
</html>


