<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialNav.ejs %>
	<aside>

	</aside>
	<main>
		MAIN DE MY FAVOURITES
	</main>

	<%- include templates/partialFooter.ejs %>
	
</body>
</html>


