<%- include templates/partialHead.ejs %>
<body>
	<%- include templates/partialNav.ejs %>
	<%- include templates/partialAside.ejs %>
	
	<main>
		MAIN PROFILE
	</main>

	<%- include templates/partialFooter.ejs %>
	
</body>
</html>


