
* {
	font-family:'Open-sans', sans-serif;
}

aside {
	display:inline-block;
	vertical-align: top;
}

body {
	margin: 0 ;
	min-height: 100%;
}

.background {
	background: url('../img/city.jpg') no-repeat center center fixed;
	background-size: cover;
}

.errorMessage {
	background:rgba(255,255,255,0.7);
	color:red;
	text-align: center;
	font-family:'Open-sans', sans-serif;
	font-weight: 700;
}

footer.pageFooter {
	background:#f0ad3f;
	display:inline-block;
	margin-top:1%;
	padding:1%;
	width:99.9%;
}

.pageFooter ul {
	list-style: none;
}

.pageFooter ul li a {
	color:#272522;
	font-weight: 700;
	text-decoration: none;
}

.pageFooter ul li a:hover {
	color:black;
}

.horizontal-list li{
	display:inline;
	vertical-align: middle;
	padding-left:20%;
}

.infoMessage {
	color:black;
	background:rgba(27, 153, 78,0.8);
	text-align: center;
	font-weight: 700;
}

#loginTitle {
	color: #f0ad3f;
	font-size:8em;
	padding-left:2%;
	text-shadow: 0px 0px 8px black;
}

@media screen and (max-width: 768px) {
	#loginTitle {
		font-size:3em;
	}
}

.loginForm {
	border: solid orange 1px;
	box-shadow:0px 0px 10px grey;
	opacity:0.9;
	margin-top:20%;
}

nav .fa  {
	color:#f0ad3f;
}

#navigator{ 
	background:#272522;
}

.navbar-default .navbar-nav>li>a:hover { color: #f0ad3f;}

#profile-menu { 
	position:absolute;
	left:90%;
}

@media screen and (max-width: 768px) {
	#profile-menu {
		position:static;
		left:0;
	
	}
}

/************** SEARCH **************/

#search {
	background: #f0ad3f;
	border:solid black 2px;
	border-radius: 10px;
	margin-bottom:2%;
	padding:1em;
}

#searchForm { 
	display:none;
}

#searchForm > div { display:none;}

.searchTitle {
	font-size: 1.4em;
}

#selectGraphic { 
	display:none;
	margin:0.5%;
}

#selectTarget button {
	margin-bottom:1%;
	margin-top:1%;
}

#userAvatar  { border: solid black 1px;}


/*********** HOME *********/

.currency {
	font-size:3em;
}

#currencypanelsset .panel-body .panel .panel-body, #nationalpanelset .panel-body .panel .panel-body {
	background:white;
}

#currencypanelsset .panel-body, #nationalspanelsset .panel-body {
	background: #f0ad3f;
}

.panel-currency {
	height:21em;
}

.panel-market img {
	width:50%;
	height: 4em;
}

.panel-default {
	border: solid 1px #f0ad3f;;
}

/************* MY FINANCES ************/
#addUserStock {
	font-size:2em;
}


#saveNewUserStock {
	background: #f0ad3f;
	border: solid 1px #272522;
	border-radius:10px;
	display:none;
	margin-bottom:1%;
	padding:1em;
}

#saveNewUserStock .form-group {
	padding:0.5%;
}

#userStocks ul  {
	text-align: center;
}

/*********** MY FAVOURITES *************/
.favouriteBox .panel{
	padding:1em;
}
.favouriteBox_icon {
	font-size:3em;
}

 .myStockFlag {
 	width:50%;
 	height: 2.5em;
 }