	<footer>
		<div class="well">
			<ul>
				<li> Home </li>
				<li> Explore</li>
				<li> Help </li>
				<li> About </li>
				<li> My favourites</li>
				<li> My finances</li>
				<li> Profile </li>
			</ul>

		</div>
	</footer>

</html>