<aside>
	<div id="search">
		<h2> Companies </h2>
		<form method="POST" action="/result">
			
				<select name="tableSearch">
					<option value="AAPL">Apple</option>
					<option value="AMZN">Amazon.com, Inc.</option>
					<option value="APA">Apache Corporation</option>
					<option value="AXP">American Express Company</option>
					<option value="CL">Colgate-Palmolive Company</option>
					<option value="CRM">Salesforce.com Inc</option>
					<option value="CSCO">Cisco Systems, Inc.</option>
					<option value="DIS">Walt Disney Company</option>
					<option value="EBAY">eBay Inc.</option>
					<option value="HAS">Hasbro, Inc.</option>
					<option value="FB">Facebook, Inc.</option>
					<option value="GAS">AGL Resources, Inc.</option>
					<option value="HOG">Harley-Davidson, Inc.</option>
					<option value="INTC">Intel Corporation</option>
					<option value="KO">Coca-Cola Company (The)</option>
					<option value="RL">Ralph Lauren Corporation</option>
					<option value="TRIP">TripAdvisor, Inc.</option>
					<option value="MON">Monsanto Company</option>
					<option value="MA">Mastercard Incorporated</option>
					<option value="A">Agilent Technologies, Inc.</option>
					<option value="MAT">Mattel, Inc.</option>
					<option value="MSFT">Microsoft Corporation</option>
					<option value="PFE">Pfizer, Inc.</option>
					<option value="SBUX">Starbucks Corporation</option>
					<option value="STX">Seagate Technology.</option>
					<option value="V">Visa Inc.</option>
					<option value="XRX">Xerox Corporation</option>
					<option value="YHOO">Yahoo! Inc.</option>
				</select>
			
				<select name="orderSearch">
					<option value="asc">Ascendent</option>
					<option value="desc">Descendent</option>
				</select>
			</div>

			
				
				  <input type="date" name="trim_startSearch"/>
				
				  <input type="date" name="trim_endSearch"/>
			
			
			
			<select name="collapseSearch">
				<option value="none">None </option>
				<option value="daily">Daily </option>
				<option value="weekly">Weekly</option>
				<option value="monthly">Monthly</option>
				<option value="quarterly">Quarterly </option>
				<option value="annual">Annual</option>
			</select>
			<input type="submit" value="Search" name="sendSearch">
		</form>
	</div>

	<h2> National markets </h2>
	<div>
		<form action="POST" method="/result">
			<select name="nationalMarket">
				<option value="bovespa">Bovespa</option>
				<option value="cac40">CAC-40</option>
				<option value="dax">DAX</option>
				<option value="dow_jones">Dow Jones</option>
				<option value="ftse100">FTSE 100</option>
				<option value="ftse_mib">FTSE MIB</option>
				<option value="ibex35">Ibex 35</option>
				<option value="jakarta">Jakarta Composite</option>
				<option value="kospi">Kospi Composite</option>
				<option value="merval">Merval</option>
				<option value="mexbol_ipc">Mexbol IPC</option>
				<option value="nikkei225">Nikkei 225</option>
				<option value="rtsi">RTSI</option>
				<option value="tsx">TSX Composite</option>
				<option value="shangai">Shangai Composite</option>
			</select>
		</form>
	</div>

	<div id="tags">
		
	</div>
</aside>
