<nav class="navbar navbar-default navbar-static-top" id="navigator">
  <div class="container-fluid">
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-elements">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EasyFinances</a>
    </div>
	
	<div class="collapse navbar-collapse" id="menu-elements">
		<ul class="nav navbar-nav">
			<li><a href="/explore">Explore</a></li>
			<li><a href="/my_favourites">My favourites</a></li>
			<li><a href="/my_finances">My finances</a></li>
			<li class="dropdown pull-right" id="profile-menu">
					<a href="#" class=" dropdown-toggle" data-toggle="dropdown" id="icon-dropdown"><%= username %> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="icon-dropdown">
						<li role="presentation"><a href="/profile" role="menuitem"><i class="fa fa-user"></i> Profile</a></li>
						<li role="presentation"><a href="/logout" role="menuitem"><i class="fa fa-sign-out"></i> Logout</a></li>
						<li role="presentation"><a href="/about" role="menuitem"><i class="fa fa-info-circle"></i> About</a></li>
					</ul>
			</li>
		</ul>
	</div>
	</div>
</nav> 