<aside class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
	<div class="list-group">

		<div class="list-group-item">
			<p class="list-group-item-text text-center">
				<% if (!twitterWidget1) {%>
					<a class=" text-center twitter-timeline" data-dnt="true" href="https://twitter.com/IBEX35news" data-theme="light" data-chrome="noheader nofooter noborders transparent"  data-widget-id="594282321508958209">
						Tweets by @IBEX35news
					</a>
				<%}else {%>
					<%- twitterWidget1 %>
				<%}%>
			</p>
		</div>

		<div class="list-group-item">
			<p class="list-group-item-text text-center">
				<% if (!twitterWidget2) {%>
					<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Forbes" data-theme="light" data-chrome="noheader nofooter noborders transparent" data-widget-id="594285839959642112">Tweets by @Forbes</a>
				<%} else {%>
					<%- twitterWidget2 %>
				<%}%>
			</p>
		</div>

	</div>
</aside>


<script>
	!function(d,s,id){
		var js,
		fjs=d.getElementsByTagName(s)[0],
		p=/^http:/.test(d.location)?'http':'https';

		if(!d.getElementById(id)){
			js=d.createElement(s);js.id=id;
			js.src=p+"://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js,fjs);
		}
	}(document,"script","twitter-wjs");
</script>

