<aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
	<div class="list-group">

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Lorem ipsum <span class="badge">14</span></h4>
			<p class="list-group-item-text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, iusto? Dolorem, hic quae ipsa, iusto natus ab praesentium animi libero blanditiis quis recusandae repellendus aspernatur est dolores totam architecto iure.
			</p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Lorem ipsum <span class="badge">14</span></h4>
			<p class="list-group-item-text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, iusto? Dolorem, hic quae ipsa, iusto natus ab praesentium animi libero blanditiis quis recusandae repellendus aspernatur est dolores totam architecto iure.
			</p>
		</div>

		<div class="list-group-item">
			<h4 class="list-group-item-heading">Lorem ipsum <span class="badge">14</span></h4>
			<p class="list-group-item-text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, iusto? Dolorem, hic quae ipsa, iusto natus ab praesentium animi libero blanditiis quis recusandae repellendus aspernatur est dolores totam architecto iure.
			</p>
		</div>

	</div>
</aside>