<aside>
	<div id="search">
		<form method="POST" action="/home">
			<input type="text">
			<input type="text">
			<input type="text">
			<input type="submit" value="Search">

		</form>
	</div>

	<div id="tags">

	</div>
</aside>